body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #7d4698;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  background-color: #430a58;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#largeTextContainer {
  text-align: center;
  /* Center-align the text */
}

#largeText {
  text-align: center;
  /* Center-align the text */
  font-size: 20px;
  /* Increase the font size */
  margin: 0 auto;
  /* Center the div horizontally */
  width: 50%;
  /* Optionally set a width for the div */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none; /* Initially set to invisible (completely hidden) */
}

p {
  color: #fff;
}

h1 {
  margin: 0;
  color: #fff;
}

.footer {
  padding-left: 60px;
  text-align: left;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #66397c;
  color: white;
  opacity: 80%;
}


#additional-inputs,
#ip-inputs {
  color: #fff;
  text-align: center;
  display: none;
  /* Hide additional inputs initially */
}

input[type="number"],
input[type="text"],
/* input[type="file"], */
input[type="checkbox"],
input[type="submit"] {
  /* Added input[type="submit"] for styling the button */
  padding: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 14px;
  width: 200px;
  box-sizing: border-box;
}

button,
.connect-button,
.connect2-button,
.submit-button {
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0.5px;
  background-color: #7d4698;
  color: #fff;
  width: 200px;
  border: 2px solid white;
  box-sizing: border-box;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

button:hover,
.connect-button:hover,
.connect2-button:hover,
.submit-button:hover {
  padding: 10px 20px;
  border-radius: 0.5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #fff;
  transition: 400ms;
  color: #7d4698;
  cursor: pointer;
}

.connect-checkbox,
.input-checkbox {
  display: none;
}

.connect-checkbox:checked+label.connect-button,
.input-checkbox:checked+.submit-button {
  display: none;
}

.connect-checkbox:checked+label.submit-button {
  display: inline-block;
}

/* .custom-file-upload {
  padding: 10px 20px;
  border-radius: 0.5px;
  background-color: #7d4698;
  color: #fff;
  width: 200px;
  border: 2px solid white;
  box-sizing: border-box;
  transition: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-file-upload:hover {
  padding: 10px 20px;
  border-radius: 0.5px;
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #fff;
  transition: 400ms;
  color: #7d4698;
  cursor: pointer;
}

input[type="file"] {
  display: none;
} */

.or-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}


.inputs {
  align-content: left;
  align-items: left;
}

#console-output {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  background-color: #66397c;
  color: #fff;
  padding: 10px;
  z-index: 1000;
  border-radius: 5px;
}